@media only screen and (max-width: 600px) {
    .toggle{
        display: none;
    }
    .form-container{
        width: 100%;
    }
    .noteContainer{
        width:100% !important;
    }
    .signUp a{
        opacity: 1 !important;
    }

}